.TopMedicine-cards {
  display: flex;
  justify-content: space-evenly;
}

.TopMedicine-cards > div {
  margin: 10px;
}

.TopMedicines-loading-skeleton{
    display: flex;
    justify-content: space-evenly;
}

.TopMedicines-loading-skeleton>span{
    margin: 10px;
}

