.TopProducts-cards{
    display: flex;
    justify-content: space-evenly;
}

.TopProducts-cards > div{
    margin: 10px;
}

.TopProducts-product-list{
    margin-bottom: 5vh;
}

.TopProducts-loading-skeleton{
    display: flex;
    justify-content: space-evenly;
}

.TopProducts-loading-skeleton>span{
    margin: 10px;
}